@media print {
    @page {
        size: A4 landscape;
        margin: 0;
    }
    .page-break {
        page-break-before: always;
    }
    

    #prnt-btn {
        display: none; /* Hide the button when printing */
    }
}
